#nav{
    display:flex; 
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}
#sequence{
    display :flex;
    /* padding-left: 2%;
    padding-right: 2%; */

    justify-content: space-between;

}
#sequence h3{
    padding-left: 30px;
    padding-right: 10px;

}
button {
    height:60px;
 border:none;
 outline:none;
 margin-top:5%;
    
    
}
#btn{
    margin-top:10% !important;
}
#signup-form,#login-form{
    width:20px;
}
input{
    margin-top: 5px;
}
#forms{
    display: flex;
}
